# Auto detect text files and perform LF normalization
* text=auto

# Bash scripts should always use LF
*.sh text eol=lf

# PowerShell scripts should use CRLF
*.ps1 text eol=crlf

# Windows batch files should use CRLF
*.bat text eol=crlf
*.cmd text eol=crlf
